<div class="card bg-light text-center mb-3 mx-auto" style="max-width: 50rem;">
  <div class="card-body">
    <%= link_to user.avatar do %>
      <%#= image_tag user.avatar.variant(resize_to_fill: [40, 40]).processed, class:"d-inline text-justify" %>
    <% end %>
    <p class="card-title"><p class="font-weight-bold d-inline"><%= user.fullname %></p>, <%= link_to("@"+user.username, user_path(user.username)) %> - <%= tweet.created_at.strftime("%Y-%m-%d - %H:%M") %></p>
    <div class="dropdown-divider"></div>
    <p class="card-text text-justify"><%= tweet.message %> </p>
  </div>
  <% if tweet.image.attached? %>
    <%= link_to tweet.image do %>
      <%#= image_tag tweet.image.variant(resize_to_fill: [695, 180]).processed %>
    <% end %>
  <% end %>
    <p class="card-footer"><small class="text-muted">Last edition: <%= tweet.created_at.strftime("%Y-%m-%d - %H:%M") %></small></p>
</div>
